{% extends 'base.html' %}

{% block logged_in_nav %}
  {% if not has_blog %}
    <li><a href="{% url 'new-blog' %}">Criar novo blog</a></li>
  {% else %}
    <li><a href="{% url 'update-blog' pk=blog.pk %}">Editar blog</a></li>
    <li><a href="{% url 'new-blog-post' %}">Criar novo post</a></li>
  {% endif %}
{% endblock %}

{% block content %}
  <h1>Blog Posts</h1>
  <ul>
    {% for post in blog_posts  %}
    <li>
      <a href="{% url 'blog-post-details' pk=post.pk %}">{{ post.title }}</a> |
      <a href="{% url 'update-blog-post' pk=post.pk %}">Editar Post</a> |
      <a href="{% url 'share-post-with-blog' pk=post.pk %}">Compartilhar Post</a>
      </li>
     {% endfor %}
  </ul>
{% endblock %}
