<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>BlueBlog</title>
  </head>
  <body>
    {% block header %}

    <ul>
    {% if request.user.is_authenticated %}
      {% block logged_in_nav %}{% endblock %}
      <li><a href="{% url 'logout' %}">Sair</a></li>
    {% else %}
      <li><a href="{% url 'login' %}">Entrar</a></li>
      <li><a href="{% url 'user_registration' %}">Registrar conta</a></li>
    {% endif %}
    </ul>
    {% endblock %}

    {% block content %}
    {% endblock %}
  </body>
</html>
